
body {
  background: black;
}

.container {
  width: 80%;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.1);
  padding: 50px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  margin-top: 150px;
}

h1 {
  font-size: 3rem;
  color: #ffcc00;
  text-shadow: 3px 3px 10px rgba(255, 204, 0, 0.8);
}

p {
  font-size: 1.6rem;
  color: #ffffff;
  opacity: 0.9;
}
